{% extends "base.html" %}

{% block title %}Nueva Contraseña - BLIB{% endblock %}

{% block auth_content %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 fw-normal">BLIB</h1>
        <p class="h5 mb-3 fw-normal">Recuperación de contraseña</p>
    </div>
    
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña" required>
            <label for="password">Ingresa la nueva contraseña:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" required>
            <label for="confirm_password">Confirma contraseña nueva:</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Finalizar</button>
    </form>
{% endblock %} 